---
layout: base
---

<header>
	<h1 id="title">Suyash</h1>

	<div id="links">
		<p class="link"><a href="#about">About</a></p>
		<p class="link"><a href="#experience">Experience</a></p>
		<p class="link"><a href="#projects">Projects</a></p>
		<p class="link"><a href="#patents">Patents</a></p>
	</div>
</header>

<section id="about">
	{% capture about %}{% include about.md %}{% endcapture %}
	{{ about | markdownify }}
</section>

<section id="experience">
	{% capture experience %}{% include experience.md %}{% endcapture %}
	{{ experience | markdownify }}
</section>

<section id="projects">
	{% capture projects %}{% include projects.md %}{% endcapture %}
	{{ projects | markdownify }}
</section>

<section id="patents">
	{% capture patents %}{% include patents.md %}{% endcapture %}
	{{ patents | markdownify }}
</section>
